@media (min-width: 768px) {
  .image-container {
    width: 100%; /* Make the container take up the full width of its parent */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center ;
    flex-direction:column;
  }

  .responsive-image {
    width: auto; /* Allow width to adjust based on height */
    max-height: 100vh;
    display:flex;
    flex-direction: column; /* Set maximum height to viewport height  /* Remove any extra space below the image */
  }
}
